<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>CrowdFuse</title>
</head>
<style>
</style>
<body>
       Hi<br>Please ask your request.<br>
        E.g. <a href="get?article=Oberalm">http://localhost:8080/get?article=Oberalm<br>
        E.g. <a href="get?article=Oberalm&last=201311010000">http://localhost:8080/get?article=Oberalm&last=201311010000<br>
        E.g. <a href="status?article=Oberalm">http://localhost:8080/status?article=Oberalm<br>
</body>
</html>




